@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 210 8% 5%;

    --card: 180 8% 95%;
    --card-foreground: 210 8% 5%;

    --popover: 180 8% 95%;
    --popover-foreground: 210 8% 5%;

    --primary: 197 100% 40%;
    --primary-foreground: 180 9% 98%;

    --secondary: 192 11% 91%;
    --secondary-foreground: 210 8% 5%;

    --muted: 210 9% 91%;
    --muted-foreground: 197 9% 45%;

    --accent: 192 11% 91%;
    --accent-foreground: 210 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 9% 87%;
    --input: 200 9% 81%;
    --ring: 196 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 0 3% 6%;
    --card-foreground: 0 0% 98%;

    --popover: 0 3% 6%;
    --popover-foreground: 0 0% 98%;

    --primary: 337 90% 51%;
    --primary-foreground: 0 0% 98%;

    --secondary: 340 5% 12%;
    --secondary-foreground: 0 0% 98%;

    --muted: 345 4% 18%;
    --muted-foreground: 340 5% 49%;

    --accent: 338 44% 12%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 340 5% 12%;
    --input: 345 4% 18%;
    --ring: 337 89% 40%;
  }
}