# A wrapping/orchestration workflow that calls other workflows to do stuff and thangs for the project.
# This workflow orchestrates cross-repo calls to third-places-data for Azure Function workflows,
# then triggers site revalidation locally.

name: Do The Needful

on:
    workflow_dispatch:

jobs:

  purge-orchestrations:
    uses: segunak/third-places-data/.github/workflows/master_purge-orchestrations.yml@master
    secrets: inherit

  enrich-airtable-base:
    needs: purge-orchestrations
    uses: segunak/third-places-data/.github/workflows/master_trigger-enrich-airtable-base.yml@master
    secrets: inherit

  refresh-airtable-operational-statuses:
    needs: enrich-airtable-base
    uses: segunak/third-places-data/.github/workflows/master_trigger-refresh-airtable-operational-statuses.yml@master
    secrets: inherit

  trigger-site-revalidation:
    needs: refresh-airtable-operational-statuses
    uses: ./.github/workflows/master_trigger_site_revalidation.yml
    secrets: inherit